body{
    background-color:forestgreen;
    background-image: url("../img/logo3.png");
    background-size: 70%;
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
}