body{
    background-size: 70%;
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
}

.logohome{
    width:230px; /*width of your image*/ 
    height:180px; /*height of your image*/
    background-image:url('../img/Reuser_logo1.ico');
    margin:10px; /* If you want no margin */
    padding: 0; /*if your want to padding */
    border: transparent;
 }

 img, h2{
     display:inline-block;
 }

 .resumoprojeto{
    width:1280px; /*width of your image*/ 
    height:720px; /*height of your image*/
    background-image:url('../img/resumoproj2pq.jpg');
    margin:10px; /* If you want no margin */
    padding: 0; /*if your want to padding */
    border: transparent;
 }
 #imgcontato{
     background-image: url("/src/paginas/img/sejapostocoleta.png");
     background-size: auto;
 }
 #homebackground1{
    background-image: url("/src/paginas/img/homebackgorund1.svg");
    background-size: 100%;
    background-position: center;
}
#homebackground2{
    background-image: url("/src/paginas/img/homebackground2.png");
    background-size: 100%;
    background-position: center;
}
@media only screen and (max-width: 600px) {
    #homebackground1{
        background-size: 70%;
    }
    #homebackground2{
        background-size: 70%;
    }
    #imgcontato{
        background-size: 20%;
    }
}