body{
    background-size: 70%;
    background-position-x: 50%;
    background-position-y: 0%;
    background-repeat: no-repeat;
}

.logohome{
    width:400px; /*width of your image*/ 
    height:250px; /*height of your image*/
    background-image:url('../img/lixohome.jpg');
    margin:10px; /* If you want no margin */
    padding: 0; /*if your want to padding */
    border: transparent;
 }

 .resumoprojeto{
    width:1280px; /*width of your image*/ 
    height:720px; /*height of your image*/
    background-image:url('../img/resumoproj.jpg');
    margin:10px; /* If you want no margin */
    padding: 0; /*if your want to padding */
    border: transparent;
 }